

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #4b4545;
    color: white;
    font-family: Arial, sans-serif;
    
}

h1 {
    margin-bottom: 10px;
     font-size: 36px;
    color: #fff;
    height: 50px;
     justify-content: center;
    align-items: center;
}


.table-containerTABLE table {
    width: 50%;
    border-collapse: collapse;
}

td {
    border: 2px solid #fff; /* White border */
    padding: 15px; /* Cell padding */
    text-align: center;
    background-color: #333; /* Dark background for cells */
    color: #fff; /* White text */
    font-size: 18px; /* Font size for multiplication results */
}

table {
    border-collapse: collapse;
    width: 400px; /* Adjust table width */
}

td:nth-child(even) {
    background-color: #444; /* Slightly lighter background for even cells */
}

td:hover {
    background-color: #555; /* Highlight on hover */
}

.containerTABLE{
    position: relative;
    width: 100px;
    margin-right:  1300px;
    
    height: 100px;
    padding-left: 1%;
    display: flex;
   
}


.container {
    position: relative;
    width: 200px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonsKK {

height: 90px;

}
.table-container{
    color: red;
    padding-left: 50%;
}

.number-box {
    border: 6px solid black;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    border-radius: 9px;
    position: relative;
    z-index: 10;
}

.input-box  {
     border: 6px solid black;
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50x;
    font-weight: bold;
    border-radius: 9px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    color: black;
    text-align: center;
    font-size: 50px;
}


.highlight {
  color: green;
  font-weight: bold;
}

/*  adicionade diferentes cor para cada tópica

/* Posicionamento dos retângulos ao redor */
.top {
   
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.right {

    top: 50%;
    right: -50px;
    transform: translateY(-50%);
}

.bottom {
  
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.left {
   
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
}

.disable {
    background-color: gray; /* Gray background */
    color: white;           /* White text */
    cursor: not-allowed; 
    }



.enable{
    background-color: lightgreen;
    color: white;


}


.correct {
    border: 6px solid greenyellow;
}

.wrong {
    border: 6px solid red;
}
button{
    width: 200px;
    height: 50px;
 
    border-radius: 5px;

    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: white;

}